  <% flash.each do |msg_type, msg| %>
  <%# <div class="alert alert-danger" role="alert"> %>
  <% if msg_type == "notice" %>
    <p class="alert alert-success"><%= msg %></p>
  <% else %>
    <p class="alert alert-danger"><%= msg %></p>
  <% end %>
<% end %>
</div>
